{% extends "base.html" %} {% block body %}
<section class="container">
  <div class="row mt-2 g-3">
    {% for register in registers %}
    <div class="col-md-4 ">
        <div class="card">
          <div class="card-body lh-sm">
            <h5 class="card-title fs-2 text-success">{{register.events.title}}</h5>
            <p class="card-text">
              <span class="fw-bold">Description:</span> {{register.events.description}}
            </p>
            <p class="card-text">
                <span class="fw-bold">Date:</span> {{register.events.date}}
            </p>
            <p class="card-text">
                <span class="fw-bold">Time:</span> {{register.events.time}}
            </p>
            <p class="card-text">
                <span class="fw-bold">Location:</span> {{register.events.location}}
            </p>
            <a href="{% url "unregister" register.events.id %}" class="btn btn-primary fw-bold">Unregister</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
