{% extends "base.html" %} {% block body %}
<section class="container">
  <div class="row mt-2 g-3">
    {% for event in events %}
    <div class="col-md-4 ">
        <div class="card">
          <div class="card-body lh-sm">
            <h5 class="card-title fs-2 text-success">{{event.title}}</h5>
            <p class="card-text">
              <span class="fw-bold">Description:</span> {{event.description}}
            </p>
            <p class="card-text">
                <span class="fw-bold">Date:</span> {{event.date}}
            </p>
            <p class="card-text">
                <span class="fw-bold">Time:</span> {{event.time}}
            </p>
            <p class="card-text">
                <span class="fw-bold">Location:</span> {{event.location}}
            </p>
            <small>user registered {{event.registered_user}}</small><br>
            <a href="{% url "unregister" event.id %}" class="btn btn-primary fw-bold">Unregister</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
