<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ms-3" href="/">Events</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url "profile" %}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "logout" %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url "registerpage" %}">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "login" %}">Login</a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0 mx-5 d-flex">
      <input class="form-control mr-sm-2"  name='search' type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 ms-2" type="submit">Search</button>
    </form>
    <p class="text-white">welcome {{request.user}}</p>
  </div>
</nav>